* {
    box-sizing: border-box;
}

html {
     height: 100%;
}

.lightgrey {
    background-image: url('../geschiedenisbg.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
       background-size: cover;
background-position: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#menu {
    margin-top: 90px;
    
}

ul {

}

ul li {
list-style: none;
display: inline-block;
float: left;
line-height: 100px;
}

ul li a {
display: block;
text-decoration: none;
font-size: 14px;
font-family: Arial;
color: black;
padding: 0 20px;
transition: 0.4s ease;

}

ul li a:hover {
color: blue;
}

nav{
    width: 100%;
    height: 120px;
    background: white;
position: fixed;
top: 0px;

}

#gt h1 {
    margin-left: 5px;
    font-size: 60px;
    letter-spacing: 10px;
    float: right;
    padding: 10px;
    
}


.kop {
    text-align: center;
}




.bronnen {
    background-color: rgba(182, 183, 243, 0.5);
margin-top: 150px;
    height: 800px;
  padding: 20px;
  border-radius: 20px;
  display: block;
  text-align: center;
  margin-left: 250px;
    margin-right: 250px;
}


.gt{
 text-align: right;
}

.vb {
    text-align: center;
}

#menu nav{
    background-color: lightgrey;
    margin-top: 290px;
}

#container {
 
    background-color: white;

}

nav ul img {
    float: left;

}

.blokkieinfo {
  height: 700px;
  padding: 15px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px;
}

.favoauto {
    height: 750px;
    padding: 15px;
    border-radius: 20px;
margin-left: 20px;
margin-right: 20px;
margin-top: 120px;
}

.kopje {
    font-size: 150%;
    text-align: center;
    color: white;
}

.picc {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#container2 {
    text-align: center;
}

.jm {
    padding: 10px;
}

#slot {
    height: 90px;
    width: 100%;
    border-top: 2px solid lightgray;
    text-align: center;
    
}

.titel {
    text-align: center;
    font-size: 46px;
}

.Maybach {
    padding: 10px;
}

.RR {
    padding: 10px;
}

.Brabus {
    padding: 10px;
}

.Bentley {
    padding: 10px;
}

.bc {
    border: 10px;
}

.aa {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.M {
    padding: 10px;
}

.bmwn {
    padding: 10px;
}

.audin {
    padding: 10px;
}

div.uitleg {
    border: 4px double white;
    border-radius: 20px;
    font-size: 155%;
    margin: 30px;
    padding: 30px;
}

.fotoab {
    display: flex;
    padding: 20px;
    margin: 10px;
}

.ac {
    padding: 10px;
}

.now {
    padding: 10px;
}

.gl {
    text-align: center;
}

.middenstuk {
    border: 4px double white;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    font-size: 125%;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;

}

.GGG {
    background-image: url('../randomG.jpg');
    background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

.colo {
background-image: url('../clf.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.tf {
background-image: url('../desert.jpg');
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
height: 500px;
}

.conct {
height: 100vh;
background-image: url('../dtm.jpg');
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.ptone {
    background-color:#808080;
    font-size: 25px;
    text-align: center;
    height: 1250px;
    padding: 30px;
    }

div.finf {
    font-size: 105%;
    padding: 30px;
    background-color: 	#808080;
    border: 4px double white;
    border-radius: 20px;
}

.vlgone {
    background-color: white;
    text-align: center;
    font-size: 105%;
    border-radius: 100px;
    padding: 10px;
    margin-top: 80px;
}

.fvolgorde {
    display: flex;
}

.volgorde {
    background-color: white;
    text-align: center;
    border-radius: 100px;
    font-size: 105%;
    padding: 10px;
    margin-top: 80px;
}

.pvc {
    display: flex;
}

div.vervolg {
    padding: 30px;
    background-color: 	#808080;
    border: 4px double white;
    border-radius: 20px;
    font-size: 165%;
}

div.afsluiting {
    border: 4px double white;
    padding: 30px;
    border-radius: 20px;
    margin-top: 80px;
    font-size: 165%;
}

.tweedediv {
    background-color: #808080;
    height: 900px;
    padding: 30px;
}