* {
    box-sizing: border-box;
}

html {
     height: 100%;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;

}

.opp {
background-color: black;
margin-top: 100px;
margin-bottom: 100px;
}

.lightgrey {
    background-color: black;
    margin-top: 100px;
    margin-bottom: 100px;
}

#menu {
    margin-top: 90px;
    
}

ul {

}

ul li {
list-style: none;
display: inline-block;
float: left;
line-height: 100px;
}

ul li a {
display: block;
text-decoration: none;
font-size: 14px;
font-family: Arial;
color: red;
padding: 0 20px;
transition: 0.4s ease;
}

ul li a:hover {
color: blue;
}

nav{
    width: 100%;
    height: 120px;
    background: white;
position: fixed;
top: 0px;

}

#gt h1 {
    margin-left: 5px;
    font-size: 60px;
    letter-spacing: 10px;
    float: right;
    padding: 10px;
    
}


.kop {
    text-align: center;
}




.bronnen {
    background-color: lightblue;
    margin-left: 15px;
    margin-right: 15px;
  margin-top: 150px;

    height: 800px;
  padding: 20px;
  border-radius: 15px;
  display: block;
}


.gt{
 text-align: right;
}

.blokkieinfo img{
   float: right;
}

.vb {
    text-align: center;
}

#menu nav{
    background-color: lightgrey;
    margin-top: 290px;
}

#container {
 
    background-color: white;

}

nav ul img {
    float: left;

}

.blokkieinfo {
  background-color:	rgba(129, 158, 201, 0.3);
  height: 1000px;
  padding: 15px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 150px;

}

.favoauto {
    background-color: 	#808080;
    height: 750px;
    padding: 15px;
    border-radius: 30px;
    margin: 20px;

}

.kopje {
    font-size: 150%;
    text-align: center;

}


#container2 {
    text-align: center;
}

.jm {
    padding: 10px;
}

#slot {
    height: 90px;
    width: 100%;
    border-top: 2px solid lightgray;
    text-align: center;
    
}

.titel {
    text-align: center;
    font-size: 46px;
}

.ptone {
    background-color:#808080;
    font-size: 25px;
    text-align: center;
    height: 2100px;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    margin-top: 150px;
}

.pvc {
    display: flex;

}


.Maybach {
    padding: 10px;
}

.RR {
    padding: 10px;
}

.Brabus {
    padding: 10px;
}

.Bentley {
    padding: 10px;
}

.bc {
    border: 10px;
}

.aa {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vlgone {
    background-color: white;
    text-align: center;
    font-size: 30px;
    border-radius: 100px;
    padding: 10px;
    margin-top: 80px;
}

.fvolgorde {
    display: flex;
}

.M {
    padding: 10px;
}

.bmwn {
    padding: 10px;
}

.audin {
    padding: 10px;
}

.volgorde {
    background-color: white;
    text-align: center;
    border-radius: 100px;
    font-size: 30px;
    padding: 10px;
    margin-top: 80px;
}


div.finf {
    font-size: 105%;
    padding: 30px;
    background-color: 	#808080;
    border: 4px ridge white;
    border-radius: 20px;
}

div.vervolg {
  font-size: 105%;
  padding: 30px;
  border: 4px ridge white;
  border-radius: 20px;
  margin-top: 80px;
}

.conct {
    text-align: center;
    font-size: 190%;
}

div.afsluiting {
    border: 4px double white;
    padding: 30px;
    border-radius: 20px;
    font-size: 105%;
    margin-top: 80px;
}

div.uitleg {
    border: 4px double white;
    border-radius: 20px;
    font-size: 155%;
    margin: 30px;
    padding: 30px;
}

.fotoab {
    display: flex;
    padding: 20px;
    margin: 10px;
}

.ac {
    padding: 10px;
}

.now {
    padding: 10px;
}

.gl {
    text-align: center;
}

.middenstuk {
    border: 4px double white;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    font-size: 125%;
}

div.picc {
    margin-right: 430px;
}